certifi==2021.10.8
Django==4.1
django-import-export==3.0.1
Jinja2==3.1.2
matplotlib==3.6.1
matplotlib-inline==0.1.6
numpy==1.22.1
pandas==1.5.0
pytz==2022.4
PyYAML==6.0
pyzmq==24.0.1
requests==2.27.1
runcmd==2020.12.3
scikit-learn==1.1.2
scipy==1.9.3
sklearn==0.0
urllib3==1.26.8
gunicorn==20.0.4
