<!doctype html>
<html>
    <head>
        <title>Konsistente interne Datenverwaltung - Smile like a BOSCH</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </head>
<body>
    <nav class="navbar bg-light shadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <strong>Konsistente interne Datenverwaltung</strong> - #SmileLikeA<strong>BOSCH</strong>
            </a>
        </div>
    </nav>

    <div class="accordion" id="accordion">
        <h1>Interne Eigenschaften</h1>
        <p>Errechnen der internen Eigenschaften.</p>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Vertriebsdaten
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="inputcontainer">
                        <strong>Preis:</strong><input id="price" style="width: 70px;margin: 0; margin-left:5px; display: inline-block;" class="form-control" onchange="set_price(document.querySelector('#price').value)"> €/Stk.
                    </div>
                    <div class="inputcontainer">
                        <strong>Lieferzeit:</strong><input id="delivery" style="width: 70px;margin: 0; margin-left:5px; display: inline-block;" class="form-control" onchange="set_delivery(document.querySelector('#delivery').value)"> Monate
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Entwicklungsdaten
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="inputcontainer">
                        <strong>Komponentenlänge:</strong><input id="length" style="width: 70px;margin: 0; margin-left:5px; display: inline-block;" class="form-control" onchange="set_length(document.querySelector('#length').value)"> mm
                    </div>
                    <div class="inputcontainer">
                    <strong>Komponentendurchmesser:</strong><input id="diameter" style="width: 70px;margin: 0; margin-left:5px; display: inline-block;" class="form-control" onchange="set_diameter(document.querySelector('#diameter').value)"> mm
                    </div>
                    <div class="inputcontainer">
                        <strong>Komponentenmasse:</strong><input id="weight" style="width: 70px;margin: 0; margin-left:5px; display: inline-block;" class="form-control" onchange="set_weight(document.querySelector('#weight').value)"> kg
                    </div>
                    <div class="inputcontainer">
                        <strong>Biegungsspannung:</strong><input id="bow" style="width: 70px;margin: 0; margin-left:5px; display: inline-block;" class="form-control" onchange="set_bow(document.querySelector('#bow').value)"> N/mm<sup>2</sup>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Fertigungsdaten
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                   <div class="inputcontainer">
                        <strong>Bauteilhärte:</strong><input id="hardness" style="width: 70px;margin: 0; margin-left:5px; display: inline-block;" class="form-control" onchange="set_hardness(document.querySelector('#hardness').value)"> HRC
                   </div>
                    <div class="inputcontainer">
                        <strong>Fügekraft:</strong><input id="join" style="width: 70px;margin: 0; margin-left:5px; display: inline-block;" class="form-control" onchange="set_join(document.querySelector('#join').value)"> N
                    </div>
               </div>
            </div>
        </div>

    <button type="button" class="btn btn-primary" id="continue" onclick="submit()">Interne Properties berechnen</button>



    </div>


<script>
var price = undefined
var delivery = undefined
var length = undefined
var diameter = undefined
var weight = undefined
var bow = undefined
var hardness = undefined
var join = undefined


function set_price(val) {
    price = val;
}

function set_delivery(val) {
    delivery = val;
}

function set_length(val) {
    length = val;
}

function set_diameter(val) {
    diameter = val;
}

function set_weight(val) {
    weight = val;
}

function set_bow(val) {
    bow = val;
}

function set_hardness(val) {
    hardness = val;
}

function set_join(val) {
    join = val;
}

function submit() {
    window.location.href = `/internal?price=${price}&delivery=${delivery}&length=${length}&diameter=${diameter}&weight=${weight}&bow=${bow}&hardness=${hardness}&join=${join}`;
}


</script>

<style>

#accordion {
    width: 60%;
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
}

.inputcontainer {
    margin: 5px;
}



p {
    margin-bottom: 0px;
}

disclaimer {
    color: gray;
    font-size: small;
    margin-bottom: 20px;
}

</style>


</body>
</html>
