<!doctype html>
<html>
    <head>
        <title>Konsistente interne Datenverwaltung - Smile like a BOSCH</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </head>
<body>

<nav class="navbar bg-light shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <strong>Team :)</strong> - #SmileLikeA<strong>BOSCH</strong>
        </a>
    </div>
</nav>

<div id="ccontainer">
    <ul class="list-group">
        <li class="list-group-item"><a href="/configuration" class="h3 d-block link-dark text-decoration-none">Lenkstangenkonfigurator</a></li>
        <li class="list-group-item"><a href="/correlation" class="h3 d-block link-dark text-decoration-none">Correlation Heatmap</a></li>
        <li class="list-group-item"><a href="/internal" class="h3 d-block link-dark text-decoration-none">Approximieren interner Parameter</a></li>
    </ul>
</div>

<a id="socials" class="link-secondary" href="https://linktr.ee/teamsmiley">Unsere Social Kanäle</a>

<style>

#ccontainer {
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#socials {
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin: 20px;
    text-align: center;
}

</style>


</body>