<!doctype html>
<html>
    <head>
        <title>Produktkonfiguration - Like a BOSCH</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </head>
<body>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <strong>Produktkonfiguration</strong> - #LikeA<strong>BOSCH</strong>
            </a>
        </div>
    </nav>



    <div class="accordion" id="accordion">
        <h1>Ihre Produktkonfiguration</h1>
        <p>Wir haben auf Basis Ihrer Anforderungen eine optimale Produktkonfiguration errechnet. Sie können nun direkt eine Anfrage an unser Sales Team schicken.</p>
        <disclaimer>Bitte beachten Sie, dass diese Werte kein Angebot darstellen und lediglich zur Orientierung dienen.</disclaimer>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Vertriebsdaten
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="inputcontainer">
                        <strong>Preis:</strong> {{price}} €/Stk.
                    </div>
                    <div class="inputcontainer">
                    <strong>Lieferzeit:</strong> {{delivery}} Monate
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Entwicklungsdaten
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="inputcontainer">
                        <strong>Komponentenlänge:</strong> {{length}} mm
                    </div>
                    <div class="inputcontainer">
                        <strong>Komponentendurchmesser:</strong> {{diameter}} mm
                    </div>
                    <div class="inputcontainer">
                        <strong>Komponentenmasse:</strong> {{weight}} kg
                    </div>
                    <div class="inputcontainer">
                        <strong>Biegespannung:</strong> {{bow}} N/mm<sup>2</sup>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Fertigungsdaten
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
               <div class="accordion-body">
                    <div class="inputcontainer">
                        <strong>Bauteilhärte:</strong> {{hardness}} HRC
                    </div>
                    <div class="inputcontainer">
                        <strong>Fügekraft:</strong> {{join}} N
                    </div>
               </div>
            </div>
        </div>

    <button type="button" class="btn btn-primary" id="continue">Auftrag senden</button>

    </div>

<style>

#accordion {
    width: 60%;
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
}

.inputcontainer {
    margin: 5px;
}

#continue {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px;
}

p {
    margin-bottom: 0px;
}

disclaimer {
    color: gray;
    font-size: small;
    margin-bottom: 20px;
}

</style>


</body>
</html>
